.wrapper {
    background: #fff0ec;
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
}

.whosturn {
    margin-bottom: 35px;
    font-size: 16px;
    color: #230d06;
}
