.iconSlider {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.arrow {
    width: 20px;
    height: 23px;
    cursor: pointer;
}

.icon {
    width: 100px;
    height: 100px;
    margin: 0 13px;
}